*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}









#enterance{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    
}


#main{
    overflow-x: hidden;
    .btn{
        border-radius: 0;
        padding: 0.5rem 2rem;
        background: #863436;
        color: #f4f4f4;
    
    }

    .contain{
        position: relative;

        #searchBar{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            form{
                z-index: 99;
                padding: 1rem 2rem;
                background: #863436;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                transform: translateY(-500px);
                transition: all ease-in 0.5s;
                

                input{
                    text-align: right;
                    font-size: 0.8rem;
                    
                }
                button{
                    background: #3F3536;
                    border: none;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
            }
            .show{
                opacity: 1;
                transform: translateY(-160px);
            }

        }

        .tracks{
            margin: 1rem 0.5rem;

            .card{
                z-index: 999;
                background: #3F3536;
                .card-body{
                    color: white;


                }
            }
        }
    }
}

#lyric{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 150%;
        width: 200%;
        z-index: -1;
    }

    span{
        font-size: 0.8rem;
        font-weight: bold;
        color: #f4f4f4ab;
    }
    text-align: right;
    padding: 2rem;
    color: white;

    .text{
        border-top: 2px solid #f4f4f4;
        font-size: 0.9rem;
        padding-top: 1rem;
        text-align: center;
    }
}



.loader{
    margin: auto;
    margin-top: 12rem;
}